@titleColor: rgb(251, 134, 58);
@expColor:  #DDD;
@phone: ~"(max-width: 767px)";

.border-radius(@radius){
  .border-top-radius(@radius);
  .border-right-radius(@radius);
  .border-bottom-radius(@radius);
  .border-left-radius(@radius);
}

.roundedDiv(@color; @size) {
  width: @size;
  height: @size;
  background-color: @color;
  .border-radius( @size/2 );
  margin-right: 20px !important;
  a, span {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    height: @size;
    color: white;
    width: @size;
    &:hover {
      text-decoration: none;
    }
  }

}

body {
  padding-top: 50px;
  font-family: @font-family-sans-serif;
  background-color: #FFFFFF;
}

.navbar {
  background-color: white;

  a.navbar-brand {
    font-family: @font-family-title;
    font-size: 24px;
    color: black;

    @media @phone {
      font-size: 20px;
    }
  }
}

.navbar-toggle .icon-bar {
  background-color: black;
}

h1 {
  font-family: @font-family-title;
  color: white;
  font-size: 50px;
}

h2 {
  font-family: @font-family-title;

  color: white;
  font-size: 50px;
  font-weight: bold;
  #title & {
    display:inline-block;
    padding-top:10px;
//    padding:15px;
//    background-color: @titleColor;
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
  }
}

h3 {
  font-family: @font-family-title;
}

a {
  color: darken(@titleColor, 20%);
}

section {
  padding-bottom: 30px;
}

#title {
//  background-color: @titleColor;
  background:url('../images/crowd_new2.jpg') no-repeat 50% 50%;
  min-height: 600px;
  padding-top:40px;
  padding-bottom:40px;
  text-align: center;
  color: white;
  border-bottom: 5px solid @titleColor;

  .titleContent {
    position:relative;

    #presentationLink {
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
    }
  }

  h3 {
    border: 2px solid white;
    opacity: 0.9;
    border-radius: 5px;
    background-color: @titleColor;
    display: inline-block;
    padding: 6px 16px;
  }

  .inlineBlock {
    display: inline-block;
  }

  .fa-inverse {
    color: @titleColor;
  }
}

.top-buffer {
  margin-top:20px;
}

.top-buffer-10 {
  margin-top:10px;
}

.top-buffer-45 {
  margin-top:45px;
}

.primaryColor {
  color: @titleColor;
}

.portrait {
  width:400px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

#presentation {
  color: black;
  margin-top: 60px;
  padding-bottom:0px;
  margin-bottom: 60px;

  .Hello {
    font-family: 'Josefin Slab', serif;
    font-size:50px;
  }
}

#experiences {
  background-color: @expColor;
  padding-top: 60px;
  padding-bottom: 60px;

  @media @phone {
    .col-xs-3 {
      width: 15%;
    }

    .col-xs-8 {
      width: 80%;
    }

    .col-xs-3, .col-xs-8 {
      padding:0;
    }
  }

  h2 {
    color: @titleColor;
    text-align: center;
  }

  i {
    margin-left: 20px;
    position: relative;
    top: 4px;
  }

  .expDesc {
    margin-top:16px;
    background-color: white;
    padding: 0px 40px 20px;
    border-top: 20px white solid;
    border-left: 20px @expColor solid;
  }

  .rowExp {
    position:relative;
    margin-top: 10px;

    &::before {

      @media @phone {
        left: 29px;
      }

      position:absolute;
      background-color: darken(@expColor, 20%);
      display: block;
      top: 35px;
      left: 124px;
      width: 8px;
      bottom:0;
      content: "";
    }
  }
}

#expertise {
  padding-top: 60px;
  padding-bottom: 60px;
  h2 {
    text-align: center;
    color: @titleColor;
  }
  #map { height: 600px; }
}

#formation {
  background-color: #FFF;
  padding-top: 60px;
  padding-bottom: 60px;

  @media @phone {
    .col-xs-3 {
      width: 15%;
    }

    .col-xs-8 {
      width: 80%;
    }

    .col-xs-3, .col-xs-8 {
      padding:0;
    }
  }

  h2 {
    color: @titleColor;
    text-align: center;
  }

  i {
    color: spin(@titleColor, 10%);
    margin-left: 20px;
    position: relative;
    top: 4px;
    left: 45px;

    @media @phone {
      left: 0;
    }
  }

  .formDesc {
    margin-top:16px;
    background-color: lighten(@expColor, 5%);
    padding: 0px 40px 20px;
    border-top: 20px lighten(@expColor, 5%) solid;
    border-left: 20px white solid;
  }

  .rowForm {
    position:relative;
    margin-top: 10px;

    &::before {
      @media @phone {
        left: 29px;
      }

      position:absolute;
      background-color: darken(@expColor, 20%);
      display: block;
      top: 35px;
      left: 124px;
      width: 8px;
      bottom:0;
      content: "";
    }
  }
}

#contact {
  background-color: @titleColor;
  padding-top:60px;
  color: white;

  a {
    color: white;
  }

  address {
    margin-bottom:0;
  }

  h2 {
    text-align: center;
    margin-bottom: 60px;
  }

  .subTitle {
    font-size: @font-size-base + 4;
  }

  .medium-icon {
    margin-top: 20px;
    margin-right: 20px;
    color: #fff;
    font-size: 50px;
    height: 50px;
    width: 50px;

    &:hover {
      color: darken(@titleColor, 20%);
      text-decoration: none;
    }
  }

}

.roundedDivPinkSmall {
  .roundedDiv(rgb(232, 53, 86), 100px);
}

.roundedDivBlueSmall {
  .roundedDiv(rgb(97, 207, 211), 100px);
}

.roundedDivGreenSmall {
  .roundedDiv(rgb(209, 200, 37), 100px);
}

.roundedDivPink {
  .roundedDiv(rgb(232, 53, 86), 130px);
}

.roundedDivBlue {
  .roundedDiv(rgb(97, 207, 211), 130px);
}

.roundedDivGreen {
  .roundedDiv(rgb(209, 200, 37), 130px);
}

.border-row {
  border-top: 1px solid #ccc;
  padding-top: 30px;
}