<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="{{ site.author }}" />
    <meta name="description" lang="fr" content="{{ site.metaDescription }}" />
    <meta name="ROBOTS" content="INDEX, FOLLOW" />

    <title>{{ site.headTitle }}</title>

    <!-- Bootstrap -->
    <link href="css/styles.css" rel="stylesheet">

    <!-- FontAwesome -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Stalemate' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="javascript/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="javascript/bootstrap.min.js"></script>

    <!-- MapBox -->
    <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css' rel='stylesheet' />

</head>
<body>

{% include nav.html %}

{% for sec in site.tags.sections reversed %}
<section id="{{ sec.htmlId }}">
    {% if sec.containerLess != true %}
    <div class="container">
        <div class="row">
            {{ sec.content }}
        </div>
    </div>
    {% else %}
    {{ sec.content }}
    {% endif %}
</section>
{% endfor %}

{% include googleanalytics.html %}

</body>
</html>

